main {
    header {
      position: sticky;
      top: 0;
      background-color: #0A1F44;
      color: #FFFFFF;
      padding: 1.5vh 2vh;
      box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.3);
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      nav {
        ul {
          display: flex;
          justify-content: flex-start;
          list-style: none;
  
          li {
            margin: 0 2vh;
  
            a {
              color: #FFFFFF;
              text-decoration: none;
              font-weight: 700;
              letter-spacing: 1px;
              text-transform: uppercase;
              transition: color 0.4s ease-in-out;
  
              &:hover {
                color: #800020;
              }
            }
          }
        }
      }
  
      .search-bar {
        display: flex;
        align-items: center;
        margin-left: auto;
  
        input {
          padding: 0.8vh 1.5vh;
          border: 0.1vh solid #6D6D6D;
          border-radius: 2.5vh;
          outline: none;
          font-size: 1.4vh;
          background-color: #6D6D6D;
          color: #FFFFFF;
          width: 20vh;
          transition: box-shadow 0.3s ease-in-out;
  
          &::placeholder {
            color: #E0C4A8;
          }
  
          &:focus {
            box-shadow: 0 0 8px #800020;
          }
        }
  
        button {
          margin-left: 1vh;
          padding: 0.8vh 2vh;
          border: none;
          border-radius: 2.5vh;
          background-color: #800020;
          color: #FFFFFF;
          font-size: 1.4vh;
          font-weight: 700;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #800020;
          }
        }
      }
  
      .login-button {
        background-color: #800020;
        color: #FFFFFF;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #a71d2a;
        }
      }
    }
  
    footer {
      background-color: #0A1F44;
      color: #FFFFFF;
      padding: 20px 0;
      text-align: center;
      width: 100%;
  
      .contact {
        margin-bottom: 10vh;
      }
  
      p {
        margin-top: 5vh;
      }
  
      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin-top: 15px;
  
        li {
          margin: 0 15px;
  
          a {
            color: #FFFFFF;
            text-decoration: none;
            font-weight: 700;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: #0A1F44;
            transition: background-color 0.3s ease;
  
            &:hover {
              background-color: #062a6b;
            }
          }
        }
      }
    }
  
    .popup-menu {
      display: none;
      position: fixed;
      top: 60px;
      left: 20px;
      background: linear-gradient(139deg, rgba(36, 40, 50, 1) 0%, rgba(37, 28, 40, 1) 100%);
      border-radius: 10px;
      padding: 15px 0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      z-index: 1000;
  
      &.show {
        display: block;
      }
  
      .card3 {
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
  
      .separator {
        border-top: 1.5px solid #42434a;
      }
  
      .list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 0 10px;
  
        .element {
          display: flex;
          align-items: center;
          color: #7e8590;
          gap: 8px;
          transition: all 0.3s ease-out;
          padding: 4px 7px;
          border-radius: 6px;
          cursor: pointer;
  
          .alighnment {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: transparent;
          }
  
          .label {
            font-size: 14px;
            color: #7e8590;
            margin: 0;
            font-weight: 500;
          }
  
          svg {
            width: 20px;
            height: 20px;
            transition: all 0.3s ease-out;
          }
  
          &:hover {
            background-color: #5353ff;
            color: #ffffff;
            transform: translate(1px, -1px);
  
            .label {
              color: #ffffff;
            }
  
            svg {
              stroke: #ffffff;
            }
          }
  
          &:active {
            transform: scale(0.99);
          }
        }
  
        .delete:hover {
          background-color: #8e2a2a;
        }
  
        &:last-child {
          svg {
            stroke: #bd89ff;
          }
  
          .element {
            color: #bd89ff;
  
            &:hover {
              background-color: rgba(56, 45, 71, 0.836);
            }
          }
        }
      }
    }
  
    .signup-container,
    .login-container,
    .profile-container,
    .messaging-container,
    .admin-container {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 300px;
      margin-top: 5vh;
      margin-bottom: 5vh;
      text-align: center;
  
      h2, h3 {
        margin-bottom: 20px;
      }
  
      input {
        width: 90%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
      }
  
      button {
        background-color: #5c67f2;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        padding: 10px;
        width: 100%;
  
        &:hover {
          background-color: #4a54d1;
        }
      }
  
      .message {
        margin-top: 20px;
        font-size: 14px;
        color: red;
      }
    }
  
    .admin-container {
      width: 100%;
      display: none;
  
      textarea {
        width: 100%;
        height: 200px;
      }
    }
  
    .profile-container .edit-btn,
    .profile-container .logout-btn,
    .messaging-container .message-btn,
    .admin-container .update-btn,
    .to-top-button {
      background-color: #5c67f2;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      padding: 10px;
      margin-top: 10px;
    }
  
    .to-top {
      align-items: left;
    }
  }
  