* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e3e3e7;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {
    height: 100%;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    background-color: #0A1F44;
    color: #FFFFFF;
    padding: 1.5vh 2vh;
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

header nav ul li {
    margin: 0 2vh;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.4s ease-in-out;
}

header nav ul li a:hover {
    color: #800020;
}

header .search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

header .search-bar input {
    padding: 0.8vh 1.5vh;
    border: 0.1vh solid #6D6D6D;
    border-radius: 2.5vh;
    outline: none;
    font-size: 1.4vh;
    background-color: #6D6D6D;
    color: #FFFFFF;
    transition: box-shadow 0.3s ease-in-out;
    width: 20vh;
}

header .search-bar input::placeholder {
    color: #E0C4A8;
}

header .search-bar input:focus {
    box-shadow: 0 0 8px #800020;
}

header .search-bar button {
    margin-left: 1vh;
    padding: 0.8vh 2vh;
    border: none;
    border-radius: 2.5vh;
    background-color: #800020;
    color: #FFFFFF;
    font-size: 1.4vh;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header .search-bar button:hover {
    background-color: #800020;
}

header .login-button {
    background-color: #800020;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header .login-button:hover {
    background-color: #a71d2a;
}

footer {
    background-color: #0A1F44;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

footer ul li {
    margin: 0 15px;
}

footer ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0A1F44;
    transition: background-color 0.3s ease;
}

footer ul li a:hover {
    background-color: #062a6b;
}

footer .contact {
    margin-bottom: 10vh;
}

footer p {
    margin-top: 5vh;
}

.popup-menu {
    display: none;
    position: fixed;
    top: 60px;
    left: 20px;
    background-color: rgba(36, 40, 50, 1);
    background-image: linear-gradient(139deg, rgba(36, 40, 50, 1) 0%, rgba(36, 40, 50, 1) 0%, rgba(37, 28, 40, 1) 100%);
    border-radius: 10px;
    padding: 15px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.popup-menu.show {
    display: block;
}

.popup-menu .card3 {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-menu .separator {
    border-top: 1.5px solid #42434a;
}

.popup-menu .list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 10px;
}

.popup-menu .list .element {
    display: flex;
    align-items: center;
    color: #7e8590;
    gap: 8px;
    transition: all 0.3s ease-out;
    padding: 4px 7px;
    border-radius: 6px;
    cursor: pointer;
}

.popup-menu .list .element .alighnment {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
}

.popup-menu .list .element .label {
    font-size: 14px;
    color: #7e8590;
    margin: 0;
    font-weight: 500;
}

.popup-menu .list .element svg {
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-out;
}

.popup-menu .list .element:hover {
    background-color: #5353ff;
    color: #ffffff;
    transform: translate(1px, -1px);
}

.popup-menu .list .element:hover .label {
    color: #ffffff;
}

.popup-menu .list .element:hover svg {
    stroke: #ffffff;
}

.popup-menu .list .delete:hover {
    background-color: #8e2a2a;
}

.popup-menu .list .element:active {
    transform: scale(0.99);
}

.popup-menu .list:not(:last-child) .element:hover svg {
    stroke: #ffffff;
}

.popup-menu .list:last-child svg {
    stroke: #bd89ff;
}

.popup-menu .list:last-child .element {
    color: #bd89ff;
}

.popup-menu .list:last-child .element:hover {
    background-color: rgba(56, 45, 71, 0.836);
}

.toggle-button {
    background-color: #5c67f2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
}

.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-width: 90vh
}

.container > div {
    display: none;
}

#profilePanel {
    display: block;
}

h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}
p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: #ffffff;
    background-color: #5c67f2;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
}
a:hover {
    background-color: #4a54d1;
}

.profile-container, .messaging-container, .admin-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    height: auto;
}

.messaging-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.ai-guidance-container{
    width: 80%;
    height: auto;
    align-items: center;
}

.admin-container {
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.admin-container textarea {
    width: 100%;
    height: 200px;
}
.profile-container h2, .messaging-container h3, .admin-container h3 {
    margin-bottom: 20px;
    margin-top: 5vh;
}
.profile-container .edit-btn, .profile-container .logout-btn, .messaging-container .message-btn, .admin-container .update-btn .to-top-button{
    background-color: #5c67f2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
}

.to-top{
    align-items: left;
}

.radio-input {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    height: auto;
    width: auto;
    box-shadow: none;
    background: none;
}

.radio-input input {
    display: none;
}

.radio-input .label {
    width: auto;
    height: auto;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: none;
    position: relative;
    z-index: 2;
    background: none;
    padding-left: 10px;
}

.label .text {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 12px;
    padding: 0px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.label input[type="radio"]:checked + .text {
    color: #3889e6;
    text-shadow:
        0px 0px 8px rgba(128, 0, 32, 0.8),
        1px 1px 2px rgba(0, 0, 0, 1);
}

.label:has(input[type="radio"]:checked) .bottom-line {
    background-color: transparent;
    border-top: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 2%;
}

section h2{
    font-size: 2.5rem
}

.main-container > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
}